<li>
  @Html.ActionLink("SQL injection", "Index", "SQLInjection")
</li>
<li>
  @Html.ActionLink("Cross-site scripting (XSS)", "Index", "XSS")
</li>
<li>
  @Html.ActionLink("Cross-Site Request Forgery (CSRF)", "Index", "CrossSiteForgery")
</li>
<li>
  @Html.ActionLink("Viewstate (Information leakage)", "Index", "Viewstate")
</li>
<li style="display: none;">SSL and login</li>
<li style="display: none;">Use of magic URLs and hidden form fields</li>
<li style="display: none;">Use of weak password-based systems</li>
<li style="display: none;">Failing to store data securely</li>
<li style="display: none;">Information leakage</li>