<div class="jumbotron">
  <h1>ASP.NET Security 101</h1>
  <p class="lead">Some simple examples of common security pitfalls for .net developers.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <ul>
      @Html.Partial("~/Views/Shared/_Navigation.cshtml")
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>MSDN security links</h2>
    <ul>
      <li>
        <a href="http://msdn.microsoft.com/en-us/security/ee909461.aspx">
          How Do I: Use
          the Web Protection Library a.k.a Anti-XSS Library?
        </a>
      </li>
      <li>
        <a href="http://blogs.msdn.com/securitytools/archive/2009/07/09/web-protection-library-wpl-a-brief-introduction.aspx">
          Web Protection Library (WPL) – A Brief Introduction
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>General links</h2>
    <ul>
      <li>
        <a href="https://www.owasp.org/">
          Open Web Application Security Project (OWASP)
        </a>
      </li>
      <li>
        <a href="http://martinfowler.com/articles/web-security-basics.html">
          The Basics of Web Application Security
          (Martin Fowler)
        </a>
      </li>
    </ul>
  </div>

</div>
