@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
  ViewState
</h2>
<p>In order to persist information between requests, the information is rendered (but not visible) on the page.</p>
<p>If we persist viewstate on disk, then that can be decoded</p>
<ul>
  <li>
    <a href="http://aspalliance.com/articleViewer.aspx?aId=135&pId=">ViewState: All You Wanted to Know</a>
  </li>
  <li>
    <a href="http://weblogs.asp.net/scottgu/435745">ScottGu: Cool ViewStateAnalyzer ASP.NET 2.0 Utility</a>
  </li>
</ul>
<p>
  It looks like the viewstate sent to the browser is not simply base64 encoded? Take a look at what's sent to the browser on the page below in order to get a sample.
  However, when looking at what's sent to 'SavePageStateToPersistenceMedium', then we see that the viewstate format looks the same. Note though that the role of viewstate has not changed.
</p>
<ul>
  <li>
    @Html.ActionLink("Decode", "Decode", "ViewState")
  </li>
  <li>
    <a href="~/Pages/Viewstate/Index.aspx">Page that uses viewstate</a>
  </li>
</ul>
