@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
  ViewState
</h2>
<p>In order to persist information between requests, the information is rendered (but not visible) on the page.</p>
<ul>
  <li>
    @Html.ActionLink("Decode", "Decode", "ViewState")
  </li>
</ul>
