@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
  ViewState
</h2>
<p>In order to persist information between requests, the information is rendered (but not visible) on the page.</p>
<p>If we persist viewstate on disk, then that can be decoded</p>
<ul>
  <li>
    <a href="http://aspalliance.com/articleViewer.aspx?aId=135&pId=">ViewState: All You Wanted to Know</a>
  </li>
  <li>
    <a hhref="http://weblogs.asp.net/scottgu/435745">ScottGu: Cool ViewStateAnalyzer ASP.NET 2.0 Utility</a>
  </li>

</ul>
<ul>
  <li>
    @Html.ActionLink("Decode", "Decode", "ViewState")
  </li>
</ul>
