@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
  ViewState
</h2>
<ul>
  <li>
    @Html.ActionLink("About", "About", "ViewState")
  </li>
  <li>
    @Html.ActionLink("Decode", "Decode", "ViewState")
  </li>
</ul>
