@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
  <h1>
    ADSafe
  </h1>
  <p>
    
  </p>
  <div class="row">
    <div class="col-md-4">
      <h2>Why</h2>
      <p>
        You might want to allow advertisers small amounts of interactive behaviour, while still disallowing potential security threats.
      </p>
      <p>
        I do not envy the job of programmers with the job of eliminating malicious code from an ad network. This is not something you should allow on any site.
      </p>
    </div>
  </div>
  <div>
    <ul>
      <li><a href="http://www.adsafe.org/">adsafe org</a></li>
      <li><a href="http://www.jswebtools.org/adsafety/">language-based Web sandboxes</a></li>
      <li><a href="http://www.computerworld.com/article/2987036/application-security/after-pushing-malware-ad-networks-also-used-for-ddos.html">After pushing malware ad networks also used for ddos</a></li>
      <li style="display:none"><a href="https://crypto.stanford.edu/cs142/papers/javascript-fbjs-adsafe%20(preliminary%20version).pdf">Language-Based Isolation of Untrusted JavaScript</a></li>
    </ul>
  </div>
</div>