@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
  .success {
  }

  .error {
    background-color: indianred;
  }
</style>
<h1>
  CrossDomain communication
</h1>
<div class="container body-content">

  <div class="row">
    <div class="col-md-4" id="send_information_to_remote_service_via_get">
      <h2>JSONP</h2>
      <p>
        @Html.TextBox("text", "value1")
      </p>
      <p>
        <button>Send to remote service</button>
      </p>
    </div>
    <div class="col-md-4" id="send_information_to_remote_service_via_cors">
      <h2>CORS</h2>
      <ul>
        <li><a href="http://www.asp.net/web-api/overview/security/enabling-cross-origin-requests-in-web-api">Enable cross domain requests in web api</a></li>
      </ul>
      <p>
        @Html.TextBox("text", "value1")
      </p>
      <p>
        <button>Send to remote service</button>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Response message</h2>
      <pre id="response"></pre>
    </div>
  </div>

</div>
@section scripts{
  <script type="text/javascript">
    $(function () {
      var get = $("#send_information_to_remote_service_via_get");
      get.find("button").click(function () {
        $.getJSON("http://localhost:8091/api/Script/?text=" + get.find("[name='text']").val() + "&callback=?", function (data) {
          $("#response").text(data.message)
        });
      });

      function success(data, textStatus, jqXHR) {
        var r = $("#response");
        r.text(JSON.stringify(data));
        r.toggleClass("success", true);
        r.toggleClass("error", false);
      }
      function error(jqXHR, textStatus, errorThrown) {
        var r = $("#response");
        r.text([textStatus, errorThrown].join("\n"));
        r.toggleClass("error", true);
        r.toggleClass("success", false);
      }
      var post = $("#send_information_to_remote_service_via_cors");
      post.click(function () {
        var data =JSON.stringify( post.find("[name='text']").val());
        $.ajax({
          method: 'POST',
          url: 'http://localhost:8091/api/Script',
          data: data,
          error: error,
          contentType:'application/json',
          success: success
        });
      });

    });

  </script>

}
